<link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800'
rel='stylesheet' type='text/css'>

<header class="border-success">
  <h1 id="title-header">Object</h1>
  <button type="button" class="btn border border-success btn-login text-success"> <a href="#login">Sign In </a> </button>
 </header>

<br>
<br>

<app-reg [utenteLista]="users"></app-reg> <!-- i valori registrati verranno aggiunti a users -->

<ul class="jumbotron">
  <h1 class="text-center">Utenti Registrati </h1>
  <h6 class="text-center">Nome - Cognome: Username</h6>
  <li *ngFor="let mockUtente of users" class="text-center lista">{{mockUtente.nome}} - {{mockUtente.cognome}}: {{mockUtente.username}}</li> <!-- instanzia una variabile che assumerà i valori contenuti in users-->
</ul>

<app-log id="login"> </app-log>
