<link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800'
rel='stylesheet' type='text/css'>

<header class="border-success">
  <p id="title-header">Oggetti</p>
  <button type="button" class="btn border border-success btn-login text-success"> Sign In </button>
 </header>

<br>
<br>

<app-reg [utenteLista]="users"></app-reg> <!-- i valori registrati verranno aggiunti a users -->

<ul>
  <li *ngFor="let mockUtente of users">{{mockUtente.nome}} - {{mockUtente.cognome}}: {{mockUtente.username}}</li> <!-- instanzia una variabile che assumerà i valori contenuti in users-->
</ul>
