@import '~bootstrap/dist/css/bootstrap.css';

html, body, * {
    font-family: 'Montserrat', 'sans-serif';
    color: black;
}

header{
  background-color: white;
  z-index: 1;
  position:sticky;
  top:0px;
  border: 1px  solid;
  border-radius: 5px;
  padding: 10px;
}

#title-header{
  font-family: Montserrat;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.btn-login {
  margin-top: -47px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2em;
  float: right;
}
