<div class="contenitore jumbotron">
<h1 class="text-center">Login</h1>
  <form [formGroup] = "myLog" class="text-left p-3 item1" (ngSubmit)="onLog()" *ngIf="mostra">

       <br>Username
      <input type="user" [formControl] = "myLog.controls['user']" placeholder="Inserire il username" class="form-control ">
      <div *ngIf= "!myLog.controls['user'].valid && myLog.controls['user'].touched" class="text-danger text-left">"User" non è valido</div>
      <div *ngIf="myLog.controls['user'].hasError('required') && myLog.controls['user'].touched" class=" text-danger text-left">"User" è richiesto</div>


      <br>Password
      <input type='password' [formControl] = "myLog.controls['password']" placeholder="Inserire la password" class="form-control ">
      <div *ngIf="!myLog.controls['password'].valid && myLog.controls['password'].touched" class=" text-danger text-left">"Password" non è valido</div>
      <div *ngIf="myLog.controls['password'].hasError('required') && myLog.controls['password'].touched" class=" text-danger text-left">"Password" è richiesto</div>



    <button class="btn btn-success btn-block mt-4" type="submit" [disabled]="!myLog.valid">Registrati</button>
    <div *ngIf="!myLog.valid"></div>

  </form>
</div>

<div class="alert alert-danger" *ngIf="!corretto">Username o password errati!</div>
<div *ngIf="!mostra">
  <h1>Entrai nel paradiso meraviglia</h1>
 <button (click)="onLogOut()" class="btn btn-danger">Logout</button>
</div>

